<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MIME Check</title>
    </head>
    <body>
        {{{body}}}
        <script src="index.js"></script>
    </body>
</html>
